<!DOCTYPE html>
<html lang="en">
{% load static %}

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title> Free Job Agency Website Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <ul class="left-info">
              <li><a href="http://127.0.0.1:8000/samapp/contact/"><i class="fa fa-envelope"></i>contact@company.com</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>123-456-7890</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="right-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="http://127.0.0.1:8000/samapp/index/"><h2>Job Agency <em> Website</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:8000/samapp/index/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
<!--              <li class="nav-item">-->
<!--                <a class="nav-link" href="http://127.0.0.1:8000/samapp/login/">Login</a>-->
<!--              </li>-->
              <li class="nav-item dropdown">
                <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Login</a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="http://127.0.0.1:8000/samapp/login/">Company Login</a>
<!--                    <a class="dropdown-item" href="team.html">Team</a>-->
<!--                    <a class="dropdown-item" href="blog.html">Blog</a>-->
                    <a class="dropdown-item" href="http://127.0.0.1:8000/samapp/userlogin/">User Login</a>

<!--                    <a class="dropdown-item" href="http://127.0.0.1:8000/samapp/terms/">Terms</a>-->
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
              
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="http://127.0.0.1:8000/samapp/about/">About Us</a>
<!--                    <a class="dropdown-item" href="team.html">Team</a>-->
<!--                    <a class="dropdown-item" href="blog.html">Blog</a>-->
                    <a class="dropdown-item" href="http://127.0.0.1:8000/samapp/testimonials/">Testimonials</a>
                    <a class="dropdown-item" href="http://127.0.0.1:8000/samapp/terms/">Terms</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/samapp/contact/">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Job agency helps millions of people find great jobs and love what they do every day.
</h6>

                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Come join us in reshaping the future</h6>

                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                  <h6>If you're good at what you do, you can work anywhere</h6>

                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="request-form">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4>Request a call back right now ?</h4>

          </div>
          <div class="col-md-4">
            <a href="http://127.0.0.1:8000/samapp/contact/" class="border-button">Contact Us</a>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Featured <em>Jobs</em></h2>

            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{% static 'assets/images/product-1-720x480.jpg' %}" alt="">
              <div class="down-content">
                <h4>Hotel management</h4>
                <div style="margin-bottom:10px;">
                  <span> <sup>$</sup>70 000  </span>
                </div>

                <p>Medical  /  Health Jobs</p>

<!--                <a href="property-details.html" class="filled-button">View More</a>-->
              </div>
            </div>

            <br>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{% static 'assets/images/product-2-720x480.jpg' %}" alt="">
              <div class="down-content">
                <h4>Engineer</h4>
                <div style="margin-bottom:10px;">
                  <span> <sup>$</sup>70 000  </span>
                </div>

                <p>Medical  /  Health Jobs</p>

<!--                <a href="property-details.html" class="filled-button">View More</a>-->
              </div>
            </div>

            <br>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{% static 'assets/images/product-3-720x480.jpg' %}" alt="">
              <div class="down-content">
                <h4>Professor</h4>
                <div style="margin-bottom:10px;">
                  <span> <sup>$</sup>70 000  </span>
                </div>

                <p>Medical  /  Health Jobs</p>

<!--                <a href="property-details.html" class="filled-button">View More</a>-->
              </div>
            </div>

            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="fun-facts">
      <div class="container">
        <div class="more-info-content">
          <div class="row">
            <div class="col-md-6">
              <div class="left-image">
                <img src="{% static 'assets/images/about-1-570x350.jpg' %}" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-md-6 align-self-center">
              <div class="right-content">
                <span>Who we are</span>
                <h2>Get to know about <em>our company</em></h2>
                <p>Job agency is the most innovative and second largest online job portal in India.
                  Founded in 2009, over the past decade, Job agency has become a prominent name in the
                  recruitment industry. The popularity of the portal is evident from the fact that it
                  has crossed the 3.6 crore candidate landmark and has more than 6 lakh latest job
                  vacancies from leading companies on the site.</p>
                <a href="http://127.0.0.1:8000/samapp/about/" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info">
      <div class="container">
        <div class="section-heading">
          <h2>Read our <em>Blog</em></h2>
<!--          <span>Aliquam id urna imperdiet libero mollis hendrerit</span>-->
        </div>

        <div class="row" id="tabs">
          <div class="col-md-4">
            <ul>
              <li><a href='#tabs-1' >Job agency is great , it was easy to use and navigate. It had all the information I needed and it was organized very well. The portal also had a great search feature that allowed me to easily find the job I was looking for. Overall, I am very satisfied with my experience with this job portal.
                <br> <small>—Aadithya</small></a></li>
              <li><a href='#tabs-2'>
Job agency is an excellent job portal that I have used to help me in my job search. It provides a wealth of information on a variety of companies, including reviews from current and former employees, salary information, and other helpful details. I found the search process to be very efficient, allowing me to quickly narrow down my options to the companies that best fit my needs.<br> <small>—Akhil</small></a></li>
              <li><a href='#tabs-3'> I have been incredibly impressed withJob agency and would highly recommend it to anyone looking for a new job. It is a great resource that provides a wealth of information and can help make the job search process much easier.<br> <small>—Aami</small></a></li>
            </ul>

            <br>


            <br>
          </div>

          <div class="col-md-8">
            <section class='tabs-content'>
              <article id='tabs-1'>
                <img src="{% static 'assets/images/blog-image-1-940x460.jpg' %}" alt="">
                <h4><a href="blog-details.html">We are a job portal that helps job seekers find their dream job. Our goal is to make the job search process easier for job seekers and employers alike. We have a comprehensive list of jobs from top companies, as well as a wide range of job categories to choose from. Our search engine helps job seekers find the right job quickly and efficiently. We also provide helpful resources, such as resume building, interview tips, and salary negotiation advice, to help job seekers land their ideal job. We strive to be the go-to source for job seekers and employers alike.</a></h4>
                <p>
We are a job portal dedicated to helping job seekers find the right job for them. We have a wide range of job postings from employers across the globe, making it easier for job seekers to find the perfect fit. Our website is easy to navigate and allows job seekers to quickly and easily search for the right job. We also provide resources and advice to help job seekers make the most of their job search.</p>
              </article>
              <article id='tabs-2'>
                <img src="{% static 'assets/images/blog-image-2-940x460.jpg' %}" alt="">
                <h4><a href="blog-details.html">Mauris lobortis quam id dictum dignissim</a></h4>
                <p>Sed ut dolor in augue cursus ultrices. Vivamus mauris turpis, auctor vel facilisis in, tincidunt vel diam. Sed vitae scelerisque orci. Nunc non magna orci. Aliquam commodo mauris ante, quis posuere nibh vestibulum sit amet</p>
              </article>
              <article id='tabs-3'>
                <img src="{% static 'assets/images/blog-image-3-940x460.jpg' %}" alt="">
                <h4><a href="blog-details.html">Class aptent taciti sociosqu ad litora torquent per</a></h4>
                <p>Mauris lobortis quam id dictum dignissim. Donec pellentesque erat dolor, cursus dapibus turpis hendrerit quis. Suspendisse at suscipit arcu. Nulla sed erat lectus. Nulla facilisi. In sit amet neque sapien. Donec scelerisque mi at gravida efficitur. Nunc lacinia a est eu malesuada. Curabitur eleifend elit sapien, sed pulvinar orci luctus eget. 
                </p>
              </article>
            </section>
          </div>
        </div>

        
      </div>
    </div>

    <div class="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>What they say <em>about us</em></h2>
              <span>testimonials from our greatest clients</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-testimonials owl-carousel">
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>George Walker</h4>
                  <span>Chief Financial Analyst</span>
                  <p>"I was able to find a job through this job portal in less than a week! It was really easy to use and the customer service team was amazing. I'm very happy with the results and will definitely recommend this job portal to my friends and family."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>John Smith</h4>
                  <span>Market Specialist</span>
                  <p>"The job portal made it easy to apply for jobs with just a few clicks. I was able to apply to multiple positions and get updates on the status of my applications. Highly recommended!"</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>David Wood</h4>
                  <span>Chief Accountant</span>
                  <p>"Ut ultricies maximus turpis, in sollicitudin ligula posuere vel. Donec finibus maximus neque, vitae egestas quam imperdiet nec. Proin nec mauris eu tortor consectetur tristique."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Andrew Boom</h4>
                  <span>Marketing Head</span>
                  <p>"Curabitur sollicitudin, tortor at suscipit volutpat, nisi arcu aliquet dui, vitae semper sem turpis quis libero. Quisque vulputate lacinia nisl ac lobortis."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="callback-form">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Request a <em>call back</em></h2>
<!--              <span>Etiam suscipit ante a odio consequat</span>-->
            </div>
          </div>
          <div class="col-md-12">
            <div class="contact-form">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="border-button">Send Message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <br>
        <br>
        <br>
        <br>
      </div>
    </div>

    <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 footer-item">
            <h4>Job Agency Website</h4>
            <p>You can find us on social media</p>
            <ul class="social-icons">
              <li><a rel="nofollow" href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Useful Links</h4>
            <ul class="menu-list">
              <li><a href="#">https://www.example.com/</a></li>
              <li><a href="#">http://www.fakewebsite.org/</a></li>
              <li><a href="#">http://www.notarealsite.net/</a></li>
              <li><a href="#"> http://www.imadeupthisurl.biz/</a></li>
              <li><a href="#">https://www.notarealpage.info/</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Additional Pages</h4>
            <ul class="menu-list">
              <li><a href="http://127.0.0.1:8000/samapp/about/">About Us</a></li>

              <li><a href="http://127.0.0.1:8000/samapp/testimonials/">Testimonials</a></li>
              <li><a href="http://127.0.0.1:8000/samapp/contact/">Contact Us</a></li>
              <li><a href="http://127.0.0.1:8000/samapp/terms/">Terms</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item last-item">
            <h4>Contact Us</h4>
            <div class="contact-form">
              <form id="contact footer-contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button" >Send message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>
                Copyright © 2020 JOB AGENCY
<!--                - Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a>-->
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Additional Scripts -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>